<h1>Update the information on your workspace:</h1>
<%= simple_form_for(@workspace) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :location %>
  <%= f.submit "Update workspace", class: "btn btn-primary" %>
<% end %>
