<div class="container-new-workspace">
  <h2 class="h2"> Create a new workspace:</h2>
    <%= simple_form_for(@workspace) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :location %>
      <%= f.submit "Create workspace", class: "btn btn-primary" %>
    <% end %>
</div>
