<div class="container">
  <%= link_to "Back to workspaces", workspaces_path %>
  <br>
  <h1><%= @workspace.name %></h1>
  <div><img src="https://images.unsplash.com/photo-1497366811353-6870744d04b2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="workspace" height="300" width="480">
  </div>
  <br>
  <p><%= @workspace.location %></p>
  <%# <br> %>
  <p><%= @workspace.description %></p>
  <%# <br> %>
  <h4>Price per day: €<%= @workspace.price %></h4>
  <br>
  <p>Reviews of former users:</p>
  </div>
  <div class="container">
  <ul>
	<% @workspace.reviews.each do |review| %>
  	<li>Rating: <%= review.rating %>
    <br>
	<%= review.content %></li>
	<% end %>
	</ul>
<%= link_to "Add a review", new_workspace_review_path(@workspace) %>
  </div>
