<div class="container">
<h1>Your bookings</h1>
<% if current_user.bookings.count == 0 %>
  <p>You currently do not have any bookings.</p>
<% else %>
  <p>You currently have the following bookings:</p>
  <div class="card-booking-wrapper">
    <div class="card-booking-container">
      <% @bookings.each do |booking| %>
        <div class="card-booking">
          <img src="https://images.unsplash.com/photo-1497366811353-6870744d04b2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
          <div class="card-booking-infos">
            <% start_date = booking.start_date.to_date %>
            <% end_date = booking.end_date.to_date %>
            <% price_per_day = booking.workspace.price %>

            <% total_days = (end_date - start_date).to_i + 1 %>
            <% total_price = total_days * price_per_day %>


            <h2 class="workspace-name">
                <%= booking.workspace.name %>
            </h2>

            <div class="location-info">
              <p><%= booking.workspace.location %>
            </div>

            <div class="date-info">
              <p><%= booking.start_date %> — <%= booking.end_date %></p>
            </div>

            <h2 class="total-price">€ <%= total_price %></h2>

            <div class="see-more">
              <%= link_to "See More", workspace_path(booking.workspace), class: "btn btn-sm" %>
            </div>

            <div class="action-buttons">
              <%= link_to edit_booking_path(booking) do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>

              <p><%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>
